.wrapper {
  .box {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .colorPicker {
    width: 80px;
  }
}
