.wrapper {
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &::before {
      content: '✅';
      opacity: 0;
      transition: opacity 0.1s;
    }

    &.selected {
      &::before {
        opacity: 1;
      }
    }
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .colorPicker {
    width: 80px;
  }
}
