.wrapper {
  position: relative;
  min-width: 800px;

  :global {
    .layer-ui__wrapper__top-right, .App-menu_top__left {
      visibility: hidden !important;

      & > * {
        display: none;
      }
    }

    .ToolIcon.Shape {
      &[title~="Diamond"],
      &[title~="Ellipse"],
      &[title~="Arrow"],
      &[title~="Line"],
      &[title~="Draw"],
      &[title~="Text"],
      &[title~="Insert"],
      &[title~="Eraser"],
      {
        display: none !important;
      }

      &[title~="Eraser"] + .App-toolbar__divider {
        display: none !important;
      }

      &[title~="Eraser"] + .App-toolbar__divider + button {
        display: none !important;
      }
    }
  }
}

